#technology {
    background-image: url("../../../public/assets/technology/background-technology-desktop.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 6rem;
    padding-top: 12rem;
    box-sizing: border-box;
}

.tech-content, .tech-item, .tech-step, .tech-step-info {
    display: flex;
}

.tech-content {
    height: 100%;
    align-items: center;
    position: relative;
}

.tech-item {
    color: var(--color-white);
    height: 25px;
    width: 25px;
    padding: 1.5rem;
    border: 1px solid var(--color-white-dim);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-family: var(--font-bellfair);
    font-size: 28px;
    margin-right: 4rem;
    transition: 0.3s ease;
}

.tech-content ul :not(:last-child){
    margin-bottom: 2rem;
}

.tech-item:hover {
    background-color: var(--color-white-dim);
}

.tech-item-selected {
    background-color: var(--color-white);
    color: var(--color-black);
}

.tech-step {
    width: 45%;
}

.tech-step p {
    width: 90%;
}

.tech-step-info {
    width: 30%;
    margin-right: 3rem;
}

.tech-step img {
    width: 45%;
    height: 90%;
    position: absolute;
    right: -10rem;
    bottom: 0;
}

@media screen and (max-width: 1100px){
    .tech-step img {
        right: -8rem;
    }
}

@media screen and (max-width: 900px) {
    
}