#home {
    height: 100vh;
    width: 100wv;

    background-image: url("../../../public/assets/home/background-home-desktop.jpg");
    background-attachment: fixed;

    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
}

