/* destination.css */

#destination {
    background-image: url("../../../public/assets/destination/background-destination-desktop-2.png");
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* justify-content: space-between; */
    /* justify-content: center; */
    justify-content: flex-end;
    /* padding-bottom: 7rem;
    padding-top:  7rem ; */
}

#destination h5, .destinations-list > li, .destination-list-item p {
    color: var(--color-white);
}


.destinations-content, .destinations-list, 
.destination-item, .destination-item-info,  
.destination-add-container{
    display: flex;
}
.destinations-content {
    flex-direction: column;
    align-items: end;
}

.destinations-list {
    width: 40%;
    margin-top: 3rem;
}

.destination-item {
    animation: fadeIn2 0.5s ease forwards;
}

.destinaiton-mobile-img {
    display: none;
}
@keyframes fadeIn2 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.destination-item-info {
    flex-direction: column;
    align-items: start;
    width: 40%;
    margin-top: 2rem;
}

.destination-img-container {
    box-sizing: border-box;
    width: 60%;
}

.destination-img-container img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

.destinations-list > :not(:first-child) {
    margin-left: 2rem;
}

.destination-list-item {
    border: 2px solid transparent;
    height: 100%;
    padding: 0.5rem 0;   
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.destination-list-item:hover {
    border-bottom: 2px solid var(--color-white-dim)
}

.destination-list-selected {
    border-bottom: 2px solid var(--color-white);
}

.destination-list-item p {
    text-transform: uppercase;
    font-family: var(--font-barlow-condensed);
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 1px;
}

.destination-line {
    margin: 3rem 0 1rem 0;
    width: 80%;
    box-sizing: border-box;
    height: 1px;
    background-color: var(--color-grey);
}

.destination-add-container {
    width: 70%;
    justify-content: space-between;
}


@media screen and (max-width: 800px) {

    #destination {
        justify-content: start;
        /* padding: 7rem 3rem; */
    }

    .destinations-content {
        align-items: center;
    }
    .destination-item {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0 6rem;
    }

    .destination-item-info {
        width: 100%;
        align-items: center;
    }

    .destinaiton-mobile-img {
        display: flex;
        justify-content: center;
        margin: 3rem 0;
    }
    .destinaiton-mobile-img img {
        width: 300px;
        height: 300px;
    }
    .destination-img-container {
        display: none;
    }

    .destinations-list {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    .destination-line {
        width: 100%;
        margin: 1rem 0 1rem 0;
    }
}

@media screen and (max-width: 450px) {
    
}