@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-white-dim: #ffffff54;
  --color-black: #000000;
  --color-dimviolet: #D0D6F9;
  --color-grey-97: #979797;
  --color-grey: #464646;
  --color-grey-dim: rgba(255, 255, 255, 0.05);
  /* Fonts */
  --font-bellfair: "Bellefair", serif;
  --font-barlow-condensed: "Barlow Condensed", sans-serif;
  --font-barlow: "Barlow", sans-serif;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;

  /* Border */
  --border-radius: 4px;
  --border-width: 1px;
  --border-color: #ced4da;
}

html {
  scroll-behavior: smooth;
}

@keyframes slideIn-1 {
  0% {
    opacity: 0;
    transform: translateY(-20px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes slideIn-2 {
  0% {
    opacity: 0;
    transform: translateY(-30px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}


.section__padding {
  padding: 3rem 8rem;
}

h1, h2, h3, h4, h5 {
  font-family: var(--font-bellfair);
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 400;

  margin: 0;
}

h1 {
  font-weight: 400;
  font-size: 150px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 32px;  
}

h5 {
  font-family: var(--font-barlow-condensed);
  font-weight: normal;
  font-size: 28px;
  letter-spacing: 4.75px;
  color: var(--color-dimviolet);
}

p {
  font-family: var(--font-barlow);
  font-size: 18px;
  font-weight: normal;
  color: var(--color-dimviolet);
  margin: 0;
  line-height: 32px;
}